body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #facfcf;
}

header {
    background: #000000ee;
    color: #ff0a0a;
    padding: 10px 20px;
    text-align: center;
}

footer {
    background: #fdfdfd;
    color: #969595;
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.movie-item {
    background: #fae8e8;
    border: 1px solid #f5f5f5;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 0 2px 5px rgb(1, 245, 82);
}

.movie-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-item a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background: #007bff;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

